<div class="flex items-center mt-6">
    <form class="w-40 mr-4">
        <sm-input aria-label="search"
                 icon="search"
                 [control]="searchControl">
        </sm-input>
    </form>
    <div class="flex flex-row mr-3">
        <div *ngFor="let user of projectQuery.users$ | async"
             class="lift-avatar"
             nz-tooltip
             [nzTooltipPlacement]="'bottom'"
             [class.is-active]="isUserSelected(user)"
             [nzTooltipTitle]="user.name">
            <sm-avatar class="flex"
                      className="select-none shadow-outline-white"
                      [avatarUrl]="user.avatarUrl"
                      [size]="36"
                      (click)="userChanged(user)">
            </sm-avatar>
        </div>
    </div>
    <sm-button class="ml-3"
              className="btn-empty"
              [isActive]="filterQuery.onlyMyIssue$ | async"
              (click)="onlyMyIssueChanged()">
        Only My Issues
    </sm-button>
    <sm-button class="ml-3"
              [isActive]="filterQuery.ignoreResolve$ | async"
              (click)="ignoreResolvedChanged()"
              className="btn-empty">
        Ignore Resolved
    </sm-button>
    <div class="ml-3 flex items-center"
         *ngIf="filterQuery.any$ | async">
        <div class="mr-3 w-px bg-backgroundMedium self-stretch"></div>
        <sm-button [className]="'btn-secondary'"
                  (click)="resetAll()">Clear all
        </sm-button>
    </div>
</div>
